[Unit]
Description=Portal service (GTK/GNOME implementation)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
BusName=org.freedesktop.impl.portal.desktop.gtk
ExecStart=/usr/libexec/xdg-desktop-portal-gtk
