* {
    border: none;
    border-radius: 0;
    font-family: UbuntuMono Nerd Font, Noto Sans, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: #222133;
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 1;
}

window#waybar.termite {
    background-color: #222133;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #cccccc;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border-radius: 0.5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #cccccc;
}

#workspaces button.focused {
    background-color: #664477;
    box-shadow: inset 0 -3px #cccccc;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #664477;
    border-bottom: 3px solid #cccccc;
}

#custom-media,
#tray,
#mode {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-disk {
    color: #C14F3F;
    margin: 0 1px;
}

#custom-currentdate {
    color: #eb4d4b;
    margin: 0 1px;
}

#custom-kernel {
    color: #62bbfa;
    margin: 0 1px;
}

#custom-cpu {
    color: #d26bff;
    margin: 0 1px;
}

#custom-memory {
    color: #CADD8A;
    margin: 0 1px;
}

#custom-checkupdates {
    color: #CADD8A;
    margin: 0 1px;
}

#custom-getvolume {
    color: #DDAA33;
    margin: 0 1px;
}

#custom-clock {
    color: #51A6E3;
    margin: 0 1px;
}

#battery {
    background-color: #cccccc;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #cccccc;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    /*background-color: #2980b9;*/
}

#language {
    color: #26ec6d;
    padding: 0 1px;
    margin: 0 1px;
    min-width: 16px;
}
